<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>¿Estanterías?</h4>
    <p>Para ubicar el material almacenado dentro de una Nave, hemos de crear primero sus estanterias.</p>
  </div>
  <div class="span9">
    <%= form_for @shelf, class: "form-horizontal" do |f| %>
        <div class="row-fluid">
          <div class="span6">   <!-- A la izquierda -->

            <div class="control-group">
              <label class="control-label" for="shelf_location_shed_id">Nave</label>
              <div class="controls">
                <%= f.select :location_shed_id, options_for_select(shed_form_list), prompt: "Selecciona Nave..." %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="shelf_name">Nombre de la Estanteria</label>
              <div class="controls">
                <%= f.text_field :name, placeholder: "Introduce un nombre..." %>
              </div>
            </div>

          </div>

        </div>
        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Borrar</button>
          </p>
        </div>

    <% end %>
    <!-- FIN FORM -->
  </div>

</div>
