<tr>
  <td><%= shelf.name %></td>
  <td><%= shelf.location_shed.name %></td>
  <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_shelf_path(shelf) %> <%= link_to '<i class="icon-trash"></i>'.html_safe, shelf_path(shelf), method: :delete %></td>
</tr>