<div class="pull-right">
  <%= button_to "Nueva Estanteria", new_shelf_path, class: "btn btn-success", type: "button", method: :get  %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre de la Estantería</th>
      <th>Nave</th>
      <th>Ops.</th>
    </tr>
  </thead>
  <tbody>
    <%= render @shelves %>
  </tbody>
</table>

<%= will_paginate @shelves %>