<div class="accordion no-print" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-search icon-white"></i> BUSQUEDA</i>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <!-- FORM ACORDEON -->

        <%= form_tag porterages_path, method: :get, class: "form-horizontal" do%>
            <div class="row-fluid">
              <div class="span6">   <!-- A la izquierda -->

                <div class="control-group">
                  <label class="control-label" for="code">Identificador</label>
                  <div class="controls">
                    <%= text_field_tag :code %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputStatus">Estado</label>
                  <div class="controls">
                    <%= select_tag :status, options_for_select({ "En transito" => "En transito", "Entregado" => "Entregado" }), prompt: "Todos" %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="code">Creado entre</label>
                  <div class="controls">
                    <%= text_field_tag :day_from, '', class: "input-mini pickDateUI" %> y el <%= text_field_tag :day_to, '', class: "input-mini pickDateUI" %>
                  </div>
                </div>

              </div>

              <div class="span6">   <!-- A la derecha -->

                <div class="control-group">
                  <label class="control-label" for="inputOrigin">Origen</label>
                  <div class="controls">
                    <%= select_tag :origin, options_for_select(origins), prompt: "Todos" %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputDestiny">Destino</label>
                  <div class="controls">
                    <%= select_tag :destiny, options_for_select(destinies), prompt: "Todos" %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputModel">Que contenga</label>
                  <div class="controls">
                    <%= select_tag :model_name, options_for_select(material_models), prompt: "Todos", class: "input-xlarge" %>
                  </div>
                </div>

            </div>
            <p class="pull-right">
              <button class="btn btn-primary" type="submit">Buscar</button>
              <button class="btn" type="reset">Borrar</button>
            </p>

        <% end %>
        <!-- FIN FORM -->
      </div>
    </div>
  </div>
</div>
  </div>
<!-- FIN ACORDEON -->