<%= form_for @porterage do |f| %>
    <div class="row-fluid">
      <!-- CAMPOS ORIGEN -->
      <div class="span6">
        <h3>Origen</h3>
        <div class="control-group">
          <div class="controls">
            <%= f.select :origin_location, options_for_select(origins) %>
          </div>
        </div>
      </div>
      <!-- CAMPOS DESTINO -->
      <div class="span6">
        <h3>Destino</h3>
        <div class="control-group">
          <div class="controls">
            <%= f.select :destiny_location, options_for_select(destinies) %>
          </div>
        </div>
      </div>

      <div>
        <div class="control-group">
          <label class="control-label" for="porterage_operator"><strong>Operario</strong></label>
          <div class="controls">
            <%= f.text_field :operator %>
          </div>
        </div>
      </div>

      <% unless params[:action] == 'new' %>
          <!-- TABLAS CON MATERIALES -->
          <%#QUE COÑO ES ESTA MIERDA%>
          <div>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estado</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>0</td>
                <td>Tableros Puesto</td>
                <td>Mesas</td>
              </tr>
              <tr>
                <td><input type="text" placeholder="Código de barras"></td>
                <td>Tableros Puesto</td>
                <td>Mesas</td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>
    <div class="form-actions">
      <p class="pull-right">
        <button class="btn btn-primary" type="submit">Crear Porte</button>
        <button class="btn" type="reset">Limpiar</button>
      </p>
    </div>
<% end %>