<% materials.each do |material| %>
    <tr>
      <td><%= material.id %></td>
      <td><%= material.material_model.model_type %></td>
      <td><%= material.material_model.characteristics %></td>
      <td><%= link_to material.material_model.description, material %></td>
      <td><%= material.status.name %></td>
      <td><%= material.shelf.location_shed.name %> - <%= material.shelf.name %></td>
    </tr>
<% end %>