<% material_codes.each do |material_code| %>
<tr>
  <td><%= material_code.id %></td>
  <td><%= material_code.material_model.model_type %></td>
  <td><%= material_code.material_model.characteristics %></td>
  <td><%= link_to material_code.material_model.description, material_code %></td>
  <td><%= link_to '<i class="icon-trash"></i>'.html_safe, delete_code_porterage_path(@porterage, code: material_code.id), method: :get, remote: true %></td>
</tr>
<% end %>