<tr>
  <td><%= porterage.id %></td>
  <td><%= porterage.origin.name %></td>
  <td><%= porterage.destiny.name %></td>
  <td><%= porterage.exit_date %></td>
  <td id="enter_date_for_<%= porterage.id %>"><%= porterage.enter_date.present? ? porterage.enter_date : "Por definir" %></td>
  <td id="status_for_<%= porterage.id %>"><%= porterage.status %></td>
  <td class="no-print">
    <%= link_to "Ver", porterage_path(porterage), method: :get, class: "btn" %>
    <%= link_to "Scan", scan_code_porterage_path(porterage), class: "btn", method: :get if porterage.status == Porterage::STATUS_TRANSIT%>
  </td>
</tr>