<% if @material_codes.present? %>
$('#materials-table').html("<%= j render partial: "material_code", locals: { material_codes: @material_codes } %>");
<% else %>
$('#materials-table').remove();
<% end %>