$('#boton_entregar_back').fadeOut();
$('#botonera').html("<%= j link_to "<i class=\"icon-ok-sign icon-white\"></i> Entregar".html_safe, deliver_porterage_path(@porterage), class: "btn btn-success", id: "boton_entregar", remote: true, method: :get %>");
$('#porterage_status_small').html("<%= j @porterage.status %>");
$('#fecha_entrega').html("Por definir");