$('#boton_entregar').fadeOut();
$('#botonera').html("<%= j link_to "<i class=\"icon-road icon-white\"></i> En Transito".html_safe, deliver_back_porterage_path(@porterage), class: "btn btn-warning", id: "boton_entregar_back", remote: true, method: :get %>");
$('#scan_code_button').fadeOut();
$('#porterage_status_small').html("<%= j @porterage.status %>");
$('#fecha_entrega').html("<%= j @porterage.enter_date.to_s %>");