<%= render :partial => 'buscador' %>
<div class="row-fluid no-print">
  <div class="span1 offset9">
    <button class="btn visible-desktop" type="button" onClick="window.print()">Imprimir</button>
  </div>
  <div class="span2">
    <%= button_to "Nuevo Porte", new_porterage_path, class: "btn btn-success", type: "button", method: :get  %>
  </div>
</div>
<!-- Inicio Tablas -->
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>Fecha Creación</th>
    <th>Fecha Entrega</th>
    <th>Estado</th>
    <th class="no-print">Ops.</th>
  </tr>
  </thead>
  <tbody id="porterages-table">
  <%= render @porterages %>
  </tbody>
</table>

<div class="row-fluid">
  <div class="span5"><%= will_paginate @porterages %></div>
  <div class="span2 offset5" id="porterages_counter"><strong><%= @porterages_count %> resultados</strong></div>
</div>