<h1>Crear porte</h1>
<hr>
<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Hagamos un porte:</h4>
    <ol>
      <li>Debemos de seleccionar el origen y el destino de los materiales que enviemos.</li>
      <li>Identificar los materiales: leyendo el codigo de barras con una cámara móvil, introduciendolo a mano, o bien con una pistola lectora.</li>
      <li>Después de crearlo podremos sacar una copia del albarán para adjuntarla al envío.</li>
    </ol>
    <p>Podremos visualizar todos los portes en el apartado del menu superior <i>Portes</i>.</p>
  </div>
  <div class="span9"><%= render 'form' %></div>
</div>