<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Creando un porte</h4>
    <p>Ahora debemos asociar materiales al porte con el boton "Añadir material".</p>
  </div>
  <div class="span9">

    <h1><%= @porterage.origin.name %> - <%= @porterage.destiny.name %></h1>

    <h1><small><%= @porterage.created_at %></small></h1>
    <hr>


    <%= form_tag insert_manual_code_porterage_path, class: "form-horizontal", id: "form-scancode", method: :put do |f| %>

        <h4>Añadir material a mano...</h4>
        <div class="row-fluid">
          <div class="control-group">
            <label class="control-label" for="qr">Introducir Código</label>
            <div class="controls">
              <%= text_field_tag :qr %>
              <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
          </div>
        </div>

    <% end %>

    <%= form_tag insert_batch_codes_porterage_path, class: "form-horizontal", id: "form-scancode", method: :put do |f| %>
        <div class="visible-desktop">
          <h4>Añadir materiales con la pistola...</h4>
          <div class="row-fluid">
            <div class="control-group">
              <label class="control-label" for="qr">Introducir Códigos</label>
              <div class="controls">
                <%= text_area_tag :codegroup, "", rows: 5 %>
                <button class="btn btn-primary" type="submit">Añadir</button>
              </div>
            </div>
          </div>
        </div>

    <% end %>

    <div class="control-group hidden-desktop">
      <label class="control-label">O escanear con la cámara:</label>
      <div class="controls">
        <%= link_to "Escanear Material", "pic2shop://scan?callback=#{CGI.escape(insert_code_porterage_url(@porterage))}", class: "btn btn-primary" %>
      </div>
    </div>
    </div>

    <table class="table table-hover">
      <thead>
      <th>#</th>
      <th>Material</th>
      <th>Caracteristicas</th>
      <th>Modelo</th>
      <th>Borrar</th>
      </thead>
      <tbody id="materials-table">
      <%= render partial: "material_code", locals: {material_codes: @material_codes} if @material_codes.present? %>
      </tbody>
    </table>

    <div class="pull-right">
      <%= link_to "Volver al porte", porterage_path(@porterage), class: "btn" %>
    </div>

    </div>
  </div>