<h1><%= @porterage.origin.name %> - <%= @porterage.destiny.name %></h1>
<h1><small id="porterage_status_small"><%= @porterage.status %></small></h1>
<hr>

<div class="row-fluid">
  <div class="span3">
    <h4>Fecha de creación</h4>
    <p><%= @porterage.created_at %><p>
  </div>
  <div class="span3">
    <h4>Fecha de entrega</h4>
    <p id="fecha_entrega"><%= @porterage.enter_date.present? ? @porterage.enter_date : "Por definir" %><p>
  </div>
</div>

<h4>Operario</h4>
<p><%= @porterage.operator %><p>

  <!-- Inicio Tablas -->
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Material</th>
    <th>Caracteristicas</th>
    <th>Modelo</th>
    <th>Estado</th>
    <th>Procedencia</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'material', locals: {materials: @materials} %>
  </tbody>
</table>
<div class="row-fluid">
  <div class="span2 offset10"><strong><%= @materials.count %> objetos</strong></div>
</div>

<div class="row-fluid no-print form-actions">
  <div class="span1 offset7">
    <button class="btn visible-desktop" type="button" onClick="window.print()">Imprimir</button>
  </div>
  <div class="span2">
    <%= link_to "<i class=\"icon-barcode icon-white\"></i> Añadir material".html_safe, scan_code_porterage_path(@porterage), class: "btn btn-primary", id: "scan_code_button", method: :get if @porterage.status == Porterage::STATUS_TRANSIT %>
  </div>
  <div class="span2" id="botonera">
    <%= link_to "<i class=\"icon-road icon-white\"></i> Entregar".html_safe, deliver_porterage_path(@porterage), class: "btn btn-success", id: "boton_entregar", remote: true, method: :get if @porterage.status == Porterage::STATUS_TRANSIT %>
    <%= link_to "<i class=\"icon-ok-sign icon-white\"></i> Entregado".html_safe, deliver_back_porterage_path(@porterage), class: "btn btn-warning", id: "boton_entregar_back", remote: true, method: :get if @porterage.status == Porterage::STATUS_DELIVERED %>
  </div>
</div>