<% if current_user.present? %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to 'DelaFuente', root_path, class: "brand" %>

          <div class="nav-collapse collapse">
            <ul class="nav">

              <li><a href="<%= root_path %>"><i class="icon-home"></i> Inicio</a></li>

              <!-- Inventario -->
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-list-alt"></i> Inventario
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Cátalogo', material_models_path %></li>
                  <li><%= link_to 'Stock', materials_path%></li>
                </ul>

              </li>

              <!-- Lugares -->
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-map-marker"></i> Lugares
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <%= link_to 'Sedes', location_headquarters_path %>
                    <ul class="dropdown-menu visible">
                      <% headquarter_list.each do |hq| %>
                          <li><%= link_to hq.name, materials_path(location_filter: hq.id) %></li>
                      <% end %>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <%= link_to 'Almacenes', location_sheds_path %>
                    <ul class="dropdown-menu">
                      <% shed_list.each do |shed| %>
                          <li><%= link_to shed.name, materials_path(location_filter: shed.id) %></li>
                      <% end %>
                    </ul>
                  </li>

                  <li class="divider"></li>

                  <li><%= link_to 'Estanterias', shelves_path %></li>
                </ul>
              </li>


              <!-- Portes -->
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plane"></i> Portes
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <li><a href="/porterages/">Listado</a></li>
                  <li><a href="/porterages/new">Nuevo Porte</a></li>
                </ul>
              </li>

              <!-- Buscar -->
              <!--<li><a href="#"><i class="icon-search"></i></a></li>-->

            </ul>

            <ul class="pull-right nav">
              <li><%= link_to "<i class=\"icon-off\"></i> Salir".html_safe, destroy_user_session_path, :method => :delete %></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<% end %>