<% resource = User.new
   resource_name = :user%>

<% unless current_user.present? %>

    <%= form_for(resource, :as => resource_name, :html =>{:class => "form-signin"}, :url => session_path(resource_name)) do |f| %>

        <h2 class="form-signin-heading">Acceder</h2>

        <%= f.email_field :email, :class => "input-block-level", :placeholder => "Correo electronico" %>
        <%= f.password_field :password, :class => "input-block-level", :placeholder => "Contraseña" %>

        <label for="user_remember_me" class="pull-right"><%= f.check_box :remember_me %> Mantener sesión</label>
        <div class="clearfix"></div><br />

        <%= f.submit "Acceder" , :class => "btn btn-primary btn-large btn-block"%>


    <% end %>
<% else %>

    <div class="hero-unit">
      <h1>Bienvenido</h1>
      <p>Ya estas listo para trabajar con la aplicación. Para poder empezar a crear ordenes de portes deberemos de realizar los siguientes pasos antes, como configuración inicial:</p>
      <p>
        <ol>
            <li><strong>Crear <a href="/location_headquarters/new">Sedes</a> y <a href="/location_sheds/new">Almacenes</a>:</strong> Con esto estableceremos los lugares de salida y destino de los portes, y tambien los lugares de almacenaje.</li>
            <li><strong><a href="/shelves/new?">Crear Estanterias de las Naves</a>:</strong> Donde estará ubicado el material.</li>
            <li><strong><a href="/material_models/new">Crear Catálogo</a>:</strong> Tendremos que crear primeramente nuestro catálogo de material para posteriormente añadir stock.</li>
            <li><strong><a href="/materials/new">Crear Stock</a>:</strong> Una vez creado nuestro catalogo de modelos sera necesario crear el Stock de los mismos..</li>
            <li><strong><a href="/porterages/new">Crear Portes</a>:</strong> O ordenes de movimiento de material, donde elegiremos el origen y destino del porte y los materiales que se transportaran.</li>
        </ol>

        <p>Para escanear códigos con cualquier dispositivo iOS(iPad/iPhone/iPod) o Android debes instalarte la aplicación <a href="https://itunes.apple.com/app/pic2shop-shop-by-barcode/id308740640?mt=8">pic2shop</a>.</p>

      </p>
      <p class="pull-right">
        <a class="btn btn-primary btn-large" href="/material_models">
          Ir a modelos
        </a>
      </p>
    </div>

<% end %>

