<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Añadir sedes</h4>
    <p>Añade sedes para poder crear destinos y orígenes en los portes.</p>
    <p>Se cuidadoso rellenando los campos, pues serán los datos que aparezcan en el albarán.</p>
  </div>
  <div class="span9">

    <%= form_for @location_headquarter, html: {class: "form-horizontal"} do |f|%>

        <% if @location_headquarter.errors.any? %>
            <div class="alert alert-error">
              <h4>Error:</h4>
              <ul>
                <% @location_headquarter.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row-fluid">
          <div class="span6">   <!-- A la izquierda -->

            <div class="control-group">
              <label class="control-label" for="location_headquearter_name">Nombre</label>
              <div class="controls">
                <%= f.text_field :name, placeholder: "Introduce el nombre de la sede..." %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="location_headquarter_address">Dirección</label>
              <div class="controls">
                <%= f.text_field :address, placeholder: "Calle, número, planta, ..." %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="location_headquarter_postal_code">Código Postal</label>
              <div class="controls">
                <%= f.text_field :postal_code, placeholder: "280XX" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="location_headquarter_city">Ciudad</label>
              <div class="controls">
                <%= f.text_field :city, placeholder: "Introduce una ciudad..." %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="location_headquarter_province">Provincia</label>
              <div class="controls">
                <%= f.text_field :province %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="location_headquarter_country">País</label>
              <div class="controls">
                <%= f.text_field :country %>
              </div>
            </div>

          </div>

        </div>
        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Borrar</button>
          </p>
        </div>

    <% end %>
    <!-- FIN FORM -->
  </div>

</div>