<tr>
  <td><%= location_headquarter.name %></td>
  <td><%= location_headquarter.address %></td>
  <td><%= location_headquarter.city %></td>
  <td><%= location_headquarter.province %></td>
  <td><%= location_headquarter.country %></td>
  <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_location_headquarter_path(location_headquarter) %> <%= link_to '<i class="icon-trash"></i>'.html_safe, location_headquarter_path(location_headquarter), method: :delete %></td>
</tr>