<div class="pull-right">
  <%= button_to "Nueva Sede", new_location_headquarter_path, class: "btn btn-success", type: "button", method: :get  %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Provincia</th>
      <th>País</th>
      <th>Ops.</th>
    </tr>
  </thead>
  <tbody>
    <%= render @location_headquarters %>
  </tbody>
</table>

<%= will_paginate @location_headquarters %>