@media print {
    .navbar { display: none; }
    .no-print { display: none; }
    a[href]:after {
        content: none !important;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 60px;
        background: url("../assets/logo_bf.png") no-repeat fixed bottom right;
    }
}

label {
    font-weight: bold;
}

.stats > div {
    text-align: center;
}

.form-signin {
    background: #F1F1F1;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    margin-bottom: 15px;
    padding: 7px 9px;
}

.accordion-heading {
    background-color: #1b1b1b;
}

.accordion-heading a {
    color: #ffffff;
    font-weight: bold;
}

.accordion-heading a:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

.last-portes {
    border-bottom: 1px solid #1b1b1b;
}

.box-info {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
}