<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-search icon-white"></i> BUSQUEDA</i>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <!-- FORM ACORDEON -->
        <%= form_tag materials_path, class: "form-horizontal", method: :get do %>
            <div class="row-fluid">
              <div class="span6">   <!-- A la izquierda -->

                <div class="control-group">
                  <label class="control-label" for="code">Código</label>
                  <div class="controls">
                    <%= text_field_tag :code %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputShelf">Estanteria</label>
                  <div class="controls">
                    <%= text_field_tag :shelf %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputLocation">Ubicación</label>
                  <div class="controls">
                    <%= select_tag :location_name, options_for_select(locations), prompt: "Todos" %>
                  </div>
                </div>

              </div>

              <div class="span6">   <!-- A la derecha -->
                <div class="control-group">
                  <label class="control-label" for="inputModel">Material de</label>
                  <div class="controls">
                    <%= select_tag :material_model_name, options_for_select(model_models), prompt: "Todos" %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputStatus">Estado</label>
                  <div class="controls">
                    <%= select_tag :status, options_for_select(status_list), prompt: "Todos" %>
                  </div>
                </div>

              </div>
            </div>
            <p class="pull-right">
              <button class="btn btn-primary" type="submit">Buscar</button>
              <button class="btn" type="reset">Borrar</button>
            </p>

        <% end %>
        <!-- FIN FORM -->
      </div>
    </div>
  </div>
</div>
<!-- FIN ACORDEON -->