<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Y ahora...</h4>
    <p>Con nuestro catalogo de modelos hecho, ya podemos añadir la cantidad de Stock que tenemos de cada material, y <strong>donde</strong> lo tenemos almacenado.</p>
    <p>Una vez terminado esto podemos empezar a realizar portes.</p>
  </div>
  <div class="span9">

    <%= form_for @material, class: "form-horizontal" do |f| %>

        <% if @material.errors.any? %>
            <div class="alert alert-error">
              <h4>Error:</h4>
              <ul>
                <% @material.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <div class="row-fluid">

          <div class="span4">
            <h4>Código</h4>
            <p><%= @material.full_code %><p>

            <h4>Características</h4>
            <p><%= @material.material_model.model_type %></p>

            <h4>Modelo</h4>
            <p><%= f.select :material_model_id, models_list  %><p>

            <h4>Categoria</h4>
            <p><%= @material.material_model.furniture %></p>

            <h4>Procedencia</h4>
            <p><%= @material.material_model.location_headquarter.name rescue nil %></p>

            <h4>Estado</h4>
            <p><%= f.select :status_id, options_for_select(status_list) %><p>

            <h4>Fecha</h4>
            <p><%= @material.created_at %></p>

          </div>

          <div class="span4">

            <h4>Medidas <small>(CM AL/AN/PF)</small></h4>
            <p><%= @material.material_model.measures %></p>

            <h4>Color</h4>
            <p><%= @material.material_model.color %></p>

            <h4>Ubicación Actual</h4>
            <p><%= f.select :location_id, options_for_select(sheds_list) , prompt: "Selecciona almacén", id: "shedSelect" %></p>

            <h4>Estantería</h4>
            <p><%= f.select :shelf_id, @shelves, prompt: "Selecciona Estanteria" %></p>

            <h4>Balda</h4>
            <p><%= f.text_field :shelf_part %></p>

            <h4>Zona</h4>
            <p><%= f.text_field :zone %></p>
          </div>

        </div>

        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Borrar</button>
          </p>
        </div>

    <% end %>
    <!-- FIN FORM -->
  </div>

</div>