<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Y ahora...</h4>
    <p>Con nuestro catalogo de modelos hecho, ya podemos añadir la cantidad de Stock que tenemos de cada material, y <strong>donde</strong> lo tenemos almacenado.</p>
    <p>Una vez terminado esto podemos empezar a realizar portes.</p>
  </div>
  <div class="span9">

    <%= form_for @material, class: "form-horizontal" do |f| %>

        <% if @material.errors.any? %>
            <div class="alert alert-error">
              <h4>Error:</h4>
              <ul>
                <% @material.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row-fluid">
          <div class="span6">   <!-- A la izquierda -->

            <div class="control-group">
              <label class="control-label" for="inputModel">Material</label>
              <div class="controls">
                <%= f.select :material_model_id, models_list  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputShed">Almacén</label>
              <div class="controls">
                <%= f.select :location_id, options_for_select(sheds_list) , prompt: "Selecciona almacén", id: "shedSelect" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputShelf">Estanteria</label>
              <div class="controls">
                <%= f.select :shelf_id, @shelves, prompt: "Selecciona Estanteria" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputShelf_part">Balda</label>
              <div class="controls">
                <%= f.text_field :shelf_part, value: "NULO" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputZone">Zona</label>
              <div class="controls">
                <%= f.text_field :zone, value: "NULO" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_status_id">Estado</label>
              <div class="controls">
                <%= f.select :status_id, Status.all.collect {|s| [s.name, s.id]}  %>
              </div>
            </div>

            <% if action_name == "new" %>
                <div class="control-group">
                  <label class="control-label" for="material_status_id">¿Cuántos añadir?</label>
                  <div class="controls">
                    <%= text_field_tag :times, 1 %>
                  </div>
                </div>
            <% end %>
          </div>

        </div>
        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Borrar</button>
          </p>
        </div>

    <% end %>
    <!-- FIN FORM -->
  </div>

</div>