<tr>
  <td><%= material.full_code %></td>
  <td><%= link_to material.material_model.model_type, material_path(material) %></td>
  <td><%= material.material_model.characteristics %></td>
  <td><%= material.material_model.description %></td>
  <td><%= material.material_model.furniture %></td>
  <td><%= material.material_model.measures %></td>
  <td><%= material.status.name %></td>
  <td><%= material.location.name || material.shelf.location_shed.name rescue nil%></td>
</tr>