<%= render :partial => 'buscador' %>

<div class="row-fluid">
  <div class="span2" id="materials_counter"><strong><%= @materials_count %> Resultados</strong></div>
  <div class="span2 offset8">
    <%= button_to "Crear Stock de Material", new_material_path, class: "btn btn-success", type: "button", method: :get  %>
  </div>
</div>

<!-- Inicio Tablas -->
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Material</th>
    <th>Características</th>
    <th>Modelo</th>
    <th>Categoria</th>
    <th>Medidas</th>
    <th>Estado</th>
    <th>Ubicación</th>
  </tr>
  </thead>
  <tbody>
  <%= render @materials %>
  </tbody>
</table>

<div class="row-fluid">
  <div class="span5"><%= will_paginate @materials %></div>
</div>