<h1><%= @material.material_model.model_type %> <%= @material.material_model.characteristics %> <%= @material.material_model.description %></h1>
<hr>

<div class="row-fluid">

  <!-- QR CODE -->
  <div class="span4">
    <div><%= image_tag "/barcodes/#{@material.id}.png", id: "barcode" %>
      <div style="width: 115px; text-align: center;"><%= @material.full_code %></div>
    </div>
    <!--<img id="barcode" src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=<%= @material.id %>&chld=H|0" />-->
  </div>

  <div class="span8">
    <div class="span4">
      <h4>Código</h4>
      <p><%= @material.full_code %><p>

      <h4>Características</h4>
      <p><%= @material.material_model.model_type %></p>

      <h4>Modelo</h4>
      <p><%= link_to @material.material_model.description, material_model_path(@material.material_model) %><p>

      <h4>Categoria</h4>
      <p><%= @material.material_model.furniture %></p>

      <h4>Procedencia</h4>
      <p><%= @material.material_model.location_headquarter.name rescue nil %></p>

      <h4>Estado</h4>
      <p><%= @material.status.name %><p>

      <h4>Fecha</h4>
      <p><%= @material.created_at %></p>

    </div>

    <div class="span4">

      <h4>Medidas <small>(CM AL/AN/PF)</small></h4>
      <p><%= @material.material_model.measures %></p>

      <h4>Color</h4>
      <p><%= @material.material_model.color %></p>

      <h4>Ubicación Actual</h4>
      <p><%= @material.location.name || @material.shelf.location_shed.name %></p>

      <h4>Estantería</h4>
      <p><%= @material.shelf.name %></p>

      <h4>Balda</h4>
      <p><%= @material.shelf_part %></p>

      <h4>Zona</h4>
      <p><%= @material.zone %></p>
    </div>

  </div>

</div>


<div class="row-fluid no-print form-actions">
  <div class="span1 offset6">
    <button class="btn visible-desktop" type="button" onClick="window.print()">Imprimir</button>
  </div>
  <div class="span2">
    <a href="<%= "/barcodes/#{@material.id}.png" %>" class="btn">Imprimir Código</a>
  </div>
  <div class="span1">
    <%= link_to "Editar", edit_material_path(@material), class: "btn" %>
  </div>
  <div class="span2">
    <%= button_to "Borrar", material_path, class: "btn btn-danger", type: "button", method: :delete %>
  </div>
</div>