<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>Almacenes</h4>
    <p>Aquí designaremos el nombre de las almacenes para ubicar el material.</p>
    <p>Por ejemplo: Almacén IT, o Nave A, etc ...</p>
  </div>
  <div class="span9">

    <%= form_for @location_shed, html: {class: "form-horizontal"} do |f|%>

        <% if @location_shed.errors.any? %>
            <div class="alert alert-error">
              <h4>Error:</h4>
              <ul>
                <% @location_shed.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row-fluid">
          <div class="span6">   <!-- A la izquierda -->

            <div class="control-group">
              <label class="control-label" for="location_shed_name">Nombre</label>
              <div class="controls">
                <%= f.text_field :name, placeholder: "Introduce el nombre de la nave..." %>
              </div>
            </div>

          </div>

        </div>
        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Borrar</button>
          </p>
        </div>
    <% end %>
    <!-- FIN FORM -->
  </div>

</div>