<tr>
  <td><%= location_shed.id %></td>
  <td><%= location_shed.name %></td>
  <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_location_shed_path(location_shed) %> <%= link_to '<i class="icon-trash"></i>'.html_safe, location_shed_path(location_shed), method: :delete %></td>
</tr>