<div class="pull-right">
  <%= button_to "Nueva Nave", new_location_shed_path, class: "btn btn-success", type: "button", method: :get  %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Ops.</th>
    </tr>
  </thead>
  <tbody>
    <%= render @location_sheds %>
  </tbody>
</table>

<%= will_paginate @location_sheds %>