<!DOCTYPE html>
<html>
<head>
  <title>Mudanzas De la Fuente</title>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'jquery-ui-1.10.3.custom.min.js', 'bootstrap', 'porterages', 'materials'  %>
  <%= stylesheet_link_tag    "application", "bootstrap", "bootstrap-responsive", "main", "ui-lightness/jquery-ui.min", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>


<!-- Inicio Navbar -->
<%= render :partial => 'shared/menu' %>
<!-- Fin Navbar -->


<div class="container">
  <%= render 'shared/errors' %>
  <%= yield %>
</div>

</body>
</html>
