<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-search icon-white"></i> BUSQUEDA</i>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <!-- FORM ACORDEON -->

        <%= form_tag material_models_path, class: "form-horizontal", method: :get do %>
            <div class="row-fluid">
              <div class="span6">   <!-- A la izquierda -->

                <div class="control-group">
                  <label class="control-label" for="code">Código</label>
                  <div class="controls">
                    <%= text_field_tag :code %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="name">Material</label>
                  <div class="controls">
                    <%= text_field_tag :model_type, nil, placeholder: "TABLERO/RELOJ/CUADRO/PLACA/MOQUETA" %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="name">Características</label>
                  <div class="controls">
                    <%= text_field_tag :characteristics, nil, placeholder: "PAISAJE/REUNION/COD/TECHO" %>
                  </div>
                </div>

              </div>

              <div class="span6">   <!-- A la derecha -->

                <div class="control-group">
                  <label class="control-label" for="furniture">Categoria</label>
                  <div class="controls">
                    <%= text_field_tag :furniture, nil, placeholder: "MOBILIARIO/ARTE/CONSERVACIÓN/MATERIAL" %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="description">Modelo</label>
                  <div class="controls">
                    <%= text_field_tag :description %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="name">Color</label>
                  <div class="controls">
                    <%= text_field_tag :color %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="name">Procedencia</label>
                  <div class="controls">
                    <%= select_tag :location_headquarter_id, options_for_select(headquarters), prompt: "Todos" %>
                  </div>
                </div>

              </div>
            </div>
            <p class="pull-right">
              <button class="btn btn-primary" type="submit">Buscar</button>
              <button class="btn" type="reset">Borrar</button>
            </p>

        <% end %>
        <!-- FIN FORM -->
      </div>
    </div>
  </div>
</div>
<!-- FIN ACORDEON -->