<div class="row-fluid">
  <div class="span3 visible-desktop box-info">
    <h4>¿Para que sirve esto?</h4>
    <p>Para empezar a meter stock de material, primero debemos hacer un catálogo con todo el material que vamos a manejar.</p>
    <p>Una vez tengamos el catalogo (modelos), ya podemos cargar cantidades/stock de estos materiales.</p>
    <p><strong>OJO</strong> Al rellenar los campos hemos de ser muy explicitos para poder diferenciar los materiales entres sus similares, no es lo mismo una <i>Mesa de Director</i> que una <i>Mesa de Paisaje</i>.</p>
  </div>

  <div class="span9">

    <%= form_for @material_model, class: "form-horizontal" do |f| %>

        <% if @material_model.errors.any? %>
            <div class="alert alert-error">
              <h4>Error:</h4>
              <ul>
                <% @material_model.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row-fluid">
          <div class="span5">   <!-- A la derecha -->

            <div class="control-group">
              <label class="control-label" for="material_model_type">Material</label>
              <div class="controls">
                <%= f.text_field :model_type, placeholder: "TABLERO/RELOJ/CUADRO/PLACA/MOQUETA" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_model_furniture">Características</label>
              <div class="controls">
                <%= f.text_field :characteristics, placeholder: "PAISAJE/REUNION/COD/TECHO" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_model_description">Modelo</label>
              <div class="controls">
                <%= f.text_field :description %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_model_furniture">Categoria</label>
              <div class="controls">
                <%= f.text_field :furniture, placeholder: "MOBILIARIO/ARTE/CONSERVACIÓN/MATERIAL" %>
              </div>
            </div>

            <hr>

            <div class="control-group">
              <label class="control-label" for="material_model_photo">Foto 1</label>
              <div class="controls">
                <%= f.file_field :photo, :class => "visible-desktop" %>
                <input type="file" accept="image/*" capture="camera" class="hidden-desktop" name="material_model[photo]" id="material_model_photo">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_model_photo3">Foto 2</label>
              <div class="controls">
                <%= f.file_field :photo2, :class => "visible-desktop" %>
                <input type="file" accept="image/*" capture="camera" class="hidden-desktop" name="material_model[photo2]" id="material_model_photo2">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="3">Foto 3</label>
              <div class="controls">
                <%= f.file_field :photo3, :class => "visible-desktop" %>
                <input type="file" accept="image/*" capture="camera" class="hidden-desktop" name="material_model[photo3]" id="material_model_photo3">
              </div>
            </div>

          </div>

          <div class="span4">

            <!-- Lado derecho -->

            <div class="control-group">
              <label class="control-label" for="material_model_measures">Medidas</label>
              <div class="controls">
                <%= f.text_field :measures, placeholder: "CM AL/AN/PF" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="material_model_furniture">Color</label>
              <div class="controls">
                <%= f.text_field :color %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputHeadquarter">Procedencia</label>
              <div class="controls">
                <%= f.select(:location_headquarter_id, headquarters)   %>
              </div>
            </div>

          </div>

        </div>
        <div class="form-actions">
          <p class="pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn" type="reset">Limpiar</button>
          </p>
        </div>

    <% end %>
    <!-- FIN FORM -->
  </div>

</div>