<tr>
  <td><%= material_model.id %></td>
  <td><%= link_to material_model.model_type, material_model_path(material_model) %></td>
  <td><%= material_model.characteristics %></td>
  <td><%= material_model.description %></td>
  <td><%= material_model.furniture %></td>
  <td><%= material_model.measures %></td>
  <td><%= material_model.location_headquarter.name rescue nil%></td>
  <td><%= material_model.materials.count  %></td>
</tr>