<%= render :partial => 'buscador' %>

<div class="row-fluid">
  <div class="span2">
    <strong><%= @material_models_count%> Resultados</strong>
  </div>
  <div class="span2 offset8">
    <%= button_to "Nuevo Material", new_material_model_path, class: "btn btn-success", type: "button", method: :get  %>
  </div>
</div>

<!-- Inicio Tablas -->
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Material</th>
    <th>Caracteristicas</th>
    <th>Modelo</th>
    <th>Categoría</th>
    <th>Medidas</th>
    <th>Procedencia</th>
    <th>Stock</th>
  </tr>
  </thead>
  <tbody id="tabla_materiales">
  <%= render @material_models %>
  </tbody>
</table>

<div class="row-fluid">
  <div class="span5"><%= will_paginate @material_models %></div>
</div>