<h1><%= @material_model.model_type %></h1>
<hr>

<div class="row-fluid">
  <div class="span3">
    <%= link_to image_tag(@material_model.photo.url(:large)), @material_model.photo.url(:original), target: "_blank" %>
    <%= link_to image_tag(@material_model.photo2.url(:large)), @material_model.photo.url(:original), target: "_blank" %>
    <%= link_to image_tag(@material_model.photo3.url(:large)), @material_model.photo.url(:original), target: "_blank" %>
  </div>
  <div class="span3">

    <h4>Características</h4>
    <p><%= @material_model.characteristics %></p>

    <h4>Modelo</h4>
    <p><%= @material_model.description %></p>

    <h4>Categoria</h4>
    <p><%= @material_model.furniture %></p>

    <h4>Procedencia</h4>
    <p><%= @material_model.location_headquarter.name rescue nil%></p>

  </div>

  <div class="span6">
    <h4>Medidas <small>(CM AL/AN/PF)</small></h4>
    <p><%= @material_model.measures %></p>

    <h4>Color</h4>
    <p><%= @material_model.color %></p>
  </div>
</div>
<div class="row-fluid form-actions">
  <div class="span3 offset7">
    <%= link_to "Buscar Stock del Modelo", materials_path(model_filter: @material_model.id), class: "btn btn-primary pull-right" %>
  </div>
  <div class="span1">
    <%= button_to "Editar", edit_material_model_path, class: "btn", type: "button", method: :get %>
  </div>
  <div class="span1">
    <%= button_to "Borrar", material_model_path, class: "btn btn-danger", type: "button", method: :delete %>
  </div>
</div>
